<!DOCTYPE html>
<html>
<head>
    <title>Customer Database</title>
</head>
<body>
    <h1>Customer Database</h1>

    <h2>List of Customers</h2>
    <form action="/customer-database/access" method="post">
        <label for="customerID">Select a Customer:</label>
        <select name="customerID" id="customerID" required>
            {% for customer_id in customer_ids %}
            <option value="{{ customer_id }}">{{ customer_id }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Access">
    </form>

    <h2>Customer Information</h2>
    <div id="customerInfoBox">
        {% if customer_info %}
        <h3>Customer ID: {{ customer_info.customerID }}</h3>
        <table>
            <tr>
                <td>Gender:</td>
                <td>{{ customer_info.gender }}</td>
            </tr>
            <tr>
                <td>SeniorCitizen:</td>
                <td>{{ customer_info.SeniorCitizen }}</td>
            </tr>
            <tr>
                <td>Partner:</td>
                <td>{{ customer_info.Partner }}</td>
            </tr>
            <tr>
                <td>Dependents:</td>
                <td>{{ customer_info.Dependents }}</td>
            </tr>
            <tr>
                <td>tenure:</td>
                <td>{{ customer_info.tenure }}</td>
            </tr>
            <tr>
                <td>PhoneService:</td>
                <td>{{ customer_info.PhoneService }}</td>
            </tr>
            <tr>
                <td>MultipleLines:</td>
                <td>{{ customer_info.MultipleLines }}</td>
            </tr>
            <tr>
                <td>InternetService:</td>
                <td>{{ customer_info.InternetService }}</td>
            </tr>
            <tr>
                <td>OnlineSecurity:</td>
                <td>{{ customer_info.OnlineSecurity }}</td>
            </tr>
            <tr>
                <td>OnlineBackup:</td>
                <td>{{ customer_info.OnlineBackup }}</td>
            </tr>
            <tr>
                <td>DeviceProtection:</td>
                <td>{{ customer_info.DeviceProtection }}</td>
            </tr>
            <tr>
                <td>TechSupport:</td>
                <td>{{ customer_info.TechSupport }}</td>
            </tr>
            <tr>
                <td>StreamingTV:</td>
                <td>{{ customer_info.StreamingTV }}</td>
            </tr>
            <tr>
                <td>StreamingMovies:</td>
                <td>{{ customer_info.StreamingMovies }}</td>
            </tr>
            <tr>
                <td>Contract:</td>
                <td>{{ customer_info.Contract }}</td>
            </tr>
            <tr>
                <td>PaperlessBilling:</td>
                <td>{{ customer_info.PaperlessBilling }}</td>
            </tr>
            <tr>
                <td>PaymentMethod:</td>
                <td>{{ customer_info.PaymentMethod }}</td>
            </tr>
            <tr>
                <td>MonthlyCharges:</td>
                <td>{{ customer_info.MonthlyCharges }}</td>
            </tr>
            <tr>
                <td>TotalCharges:</td>
                <td>{{ customer_info.TotalCharges }}</td>
            </tr>
            <tr>
                <td>Churn:</td>
                <td>{{ customer_info.Churn }}</td>
            </tr>
        </table>
        {% else %}
        <p>No customer information available.</p>
        {% endif %}
    </div>
    
    <h2>Add Customer</h2>
    <form id="add-customer" action="/customer-database/add" method="post" enctype="application/json">
        <table>
            <tr>
                <td>
                    <label for="customerID">Customer ID:</label>
                </td>
                <td>
                    <input type="text" name="customerID" id="customerID" required><br><br>
                </td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td>
                    <select name="gender" id="gender" required>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </td>
            </tr>
        
            <tr>
                <td>Senior Citizen:</td>
                <td>
                    <select name="SeniorCitizen" id="SeniorCitizen" required>
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </td>
            </tr>
    
            <tr>
                <td>Partner:</td>
                <td>
                    <select name="Partner" id="Partner" required>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                </td>
            </tr>
        
            <tr>
                <td>Dependents:</td>
                <td>
                    <select name="Dependents" id="Dependents" required>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="tenure">tenure:</label>
                </td>
                <td>
                    <input type="number" name="tenure" id="tenure" required><br><br>
                </td>
            </tr>
            <tr>
                <td>PhoneService:</td>
                <td>
                    <select name="phoneService" id="phoneService" required>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>MultipleLines:</td>
                <td>
                    <select name="MultipleLines" id="MultipleLines" required>
                        <option value="No">No</option>
                        <option value="No phone service">No phone service</option>
                        <option value="Yes">Yes</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>InternetService:</td>
                <td>
                    <select name="internetService" id="internetService" required>
                        <option value="DSL">DSL</option>
                        <option value="Fiber optic">Fiber optic</option>
                        <option value="No">No</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>OnlineSecurity:</td>
                <td>
                    <select name="OnlineSecurity" id="OnlineSecurity" required>
                        <option value="No">No</option>
                        <option value="No internet service">No internet service</option>
                        <option value="Yes">Yes</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>OnlineBackup:</td>
                <td>
                    <select name="OnlineBackup" id="OnlineBackup" required>
                        <option value="No">No</option>
                        <option value="No internet service">No internet service</option>
                        <option value="Yes">Yes</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>DeviceProtection:</td>
                <td>
                    <select name="DeviceProtection" id="DeviceProtection" required>
                        <option value="No">No</option>
                        <option value="No internet service">No internet service</option>
                        <option value="Yes">Yes</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>TechSupport:</td>
                <td>
                    <select name="TechSupport" id="TechSupport" required>
                        <option value="No">No</option>
                        <option value="No internet service">No internet service</option>
                        <option value="Yes">Yes</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>StreamingTV:</td>
                <td>
                    <select name="StreamingTV" id="StreamingTV" required>
                        <option value="No">No</option>
                        <option value="No internet service">No internet service</option>
                        <option value="Yes">Yes</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>StreamingMovies:</td>
                <td>
                    <select name="StreamingMovies" id="StreamingMovies" required>
                        <option value="No">No</option>
                        <option value="No internet service">No internet service</option>
                        <option value="Yes">Yes</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Contract:</td>
                <td>
                    <select name="contractType" id="contractType" required>
                        <option value="Month-to-month" selected>Month-to-month</option>
                        <option value="One year">One year</option>
                        <option value="Two year">Two year</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>PaperlessBilling:</td>
                <td>
                    <select name="PaperlessBilling" id="PaperlessBilling" required>
                        <option value="Yes">Yes</option>
                        <option value="No" selected>No</option>
                    </select>
                </td>
            </tr>
            <tr>   
                <td>PaymentMethod:</td>         
                <td>
                    <select name="PaymentMethod" id="PaymentMethod" required>
                        <option value="Electronic check">Electronic check</option>
                        <option value="Mailed check" selected>Mailed check</option>
                        <option value="Bank transfert (automatic)">Bank transfert (automatic)</option>
                        <option value="Credict card (automatic)">Credict card (automatic)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="MonthlyCharges">Monthly Charges:</label>
                </td>
                <td>
                    <input type="number" name="MonthlyCharges" id="MonthlyCharges" required><br><br>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="TotalCharges">Total Charges:</label>
                </td>
                <td>
                    <input type="number" name="TotalCharges" id="TotalCharges" required><br><br>
                </td>
            </tr>
        </table>
        <input type="submit" value="Add Customer">
    </form>
    <div id="customer-added">{{message_customer_added}}</div>
    
    
    <h2>Delete Customer</h2>
    <form id="delete-customer" action="/customer-database/delete" method="post">
        <label for="customerID">Customer ID:</label>
        <input type="text" name="customerID" id="customerID" required>
        <input type="submit" value="Delete">
    </form>
    <div id="customer-deleted">{{message_customer_deleted}}</div>

</body>
</html>
